
<section id="our-team" class="bg-gray-100 py-16">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <!-- Título -->
    <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">
      Nuestro Equipo de Profesionales
    </h2>
    <p class="text-gray-600 mb-12 max-w-4xl mx-auto">
      Conoce a nuestro equipo de profesionales, con años de experiencia en el sector, siempre dispuestos a ayudarte y asesorar a todos nuestros clientes sobre los tratamientos o disciplinas más adecuadas. Con un asesoramiento profesional y personalizado estos profesionales hacen de nuestro centro uno de los mejores de Sevilla.
    </p>

    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      
      <!-- Profesor 1 -->
      <div class="bg-white shadow-lg rounded-2xl p-6 flex flex-col items-center hover:shadow-xl transition">
        <img class="w-28 h-28 rounded-full mb-4 object-cover" src="https://imgs.search.brave.com/XFwpSw1-KDPAB-GuCJhVKqnLeYBIVBJK-hIABq44Fvg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tYXJr/ZXRwbGFjZS5jYW52/YS5jb20vRUFGVjNa/VENpZVkvMi8wLzE2/MDB3L2NhbnZhLWZv/dG8tZGUtcGVyZmls/LWRlLWluc3RhZ3Jh/bS1vZG9udG9sb2dh/LXByb2Zlc2lvbmFs/LWF6dWwtY2VsZXN0/ZS1DQks2YjY0TXM3/dy5qcGc" alt="Miembro del equipo">
        <h3 class="text-xl font-semibold text-teal-900">Paquita Gómez</h3>
        <p class="text-gray-500 mb-2">Fisioterapeuta</p>
        <p class="text-sm text-gray-600">Especialista en rehabilitación deportiva con más de 10 años de experiencia.</p>
         
      </div>

      <!-- Profesor 2 -->
      <div class="bg-white shadow-lg rounded-2xl p-6 flex flex-col items-center hover:shadow-xl transition">
        <img class="w-28 h-28 rounded-full mb-4 object-cover" src="https://imgs.search.brave.com/XFwpSw1-KDPAB-GuCJhVKqnLeYBIVBJK-hIABq44Fvg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tYXJr/ZXRwbGFjZS5jYW52/YS5jb20vRUFGVjNa/VENpZVkvMi8wLzE2/MDB3L2NhbnZhLWZv/dG8tZGUtcGVyZmls/LWRlLWluc3RhZ3Jh/bS1vZG9udG9sb2dh/LXByb2Zlc2lvbmFs/LWF6dWwtY2VsZXN0/ZS1DQks2YjY0TXM3/dy5qcGc" alt="Miembro del equipo">
        <h3 class="text-xl font-semibold  text-teal-900">Alberta Jimenez</h3>
        <p class="text-gray-500 mb-2">Profesora de Reiki</p>
        <p class="text-sm text-gray-600">Apasionado del movimiento y la fuerza funcional, ayuda a cada paciente a dar su máximo.</p>
      </div>

      <!-- Profesor 3 -->
      <div class="bg-white shadow-lg rounded-2xl p-6 flex flex-col items-center hover:shadow-xl transition">
        <img class="w-28 h-28 rounded-full mb-4 object-cover" src="https://imgs.search.brave.com/XFwpSw1-KDPAB-GuCJhVKqnLeYBIVBJK-hIABq44Fvg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tYXJr/ZXRwbGFjZS5jYW52/YS5jb20vRUFGVjNa/VENpZVkvMi8wLzE2/MDB3L2NhbnZhLWZv/dG8tZGUtcGVyZmls/LWRlLWluc3RhZ3Jh/bS1vZG9udG9sb2dh/LXByb2Zlc2lvbmFs/LWF6dWwtY2VsZXN0/ZS1DQks2YjY0TXM3/dy5qcGc" alt="Miembro del equipo">
        <h3 class="text-xl font-semibold  text-teal-900">Gertrudis Perez</h3>
        <p class="text-gray-500 mb-2">Profesora de Yoga</p>
        <p class="text-sm text-gray-600">Instructora de Yoga experta en Yoga multinivel y diferentes ramas de Yoga.</p>
      </div>

    </div>
  </div>
</section>
