
<section id="our-team" class="villains-background py-16">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <!-- Título -->
    <h2 class="text-3xl md:text-4xl font-bold text-white mb-4 drop-shadow-[0_3px_4px_rgba(0,0,0,0.95)]">
      Amenazas detectadas
    </h2>
    <p class="text-[#E3E8ED] mb-12 max-w-4xl mx-auto">
      S.H.I.E.L.D. mantiene bajo vigilancia a los individuos y organizaciones que representan una amenaza para la seguridad mundial. Consulta sus perfiles y nivel de peligrosidad.
    </p>

    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      
      <!-- Profesor 1 -->
      <div class="bg-[#3B2459] border-t-4 border-[#8B5CF6] shadow-lg rounded-2xl p-6 flex flex-col items-center hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
        <div class="thanos-background w-28 h-28 rounded-full mb-4 bg-cover bg-center"></div>
        <h3 class="text-xl font-bold text-white">Thanos</h3>
        <p class="text-[#C4A7FF] mb-2">Amenaza Cósmica</p>
        <p class="text-sm text-[#C4A7FF]">Soberano de Latveria, brillante científico y maestro de las artes místicas. Su ambición y poder lo convierten en una amenaza de escala mundial.</p>
         
      </div>

      <!-- Profesor 2 -->
      <div class="bg-[#163A2A] border-t-4 border-[#D4AF37] shadow-lg rounded-2xl p-6 flex flex-col items-center hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
        <div class="doom-background w-28 h-28 rounded-full mb-4 bg-cover bg-center"></div>
        <h3 class="text-xl font-semibold  text-white">Doctor Doom</h3>
        <p class="text-[#F1D36B] mb-2">Amenaza Global</p>
        <p class="text-sm text-[#F1D36B]">Apasionado del movimiento y la fuerza funcional, ayuda a cada paciente a dar su máximo.</p>
      </div>

      <!-- Profesor 3 -->
      <div class="bg-[#25282D] border-t-4 border-[#C51D2E] shadow-lg rounded-2xl p-6 flex flex-col items-center hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
        <div class="ultron-background w-28 h-28 rounded-full mb-4 bg-cover bg-center"></div>
        <h3 class="text-xl font-semibold  text-white" >Ultron</h3>
        <p class="text-[#FF5A64] mb-2">Amenaza Tecnológica</p>
        <p class="text-sm text-[#FF5A64]">Inteligencia artificial creada para proteger la Tierra que terminó volviéndose contra la humanidad.</p>
      </div>

    </div>
  </div>
</section>
