<div class="pt-5">
  <div
    class="relative h-screen w-full bg-cover bg-center flex flex-col justify-between"
    style="background-image: url('/landing-assets/images-hero/hero.webp')">
  
    <!-- Logo -->
    <div class="flex flex-col items-center md:items-end px-6 md:pr-40 pt-20 md:pt-40 text-center md:text-right">
      <img
        src="/landing-assets/images-hero/logo-sannu.webp"
        alt="Logotipo de la empresa. Sannu fisioterapia y yoga"
        class="w-60 sm:w-72 md:w-[350px] lg:w-[450px] mb-6"/>
  
    </div>
  
    <!-- Botones -->
    <div class="flex flex-col sm:flex-row justify-center gap-6 sm:gap-10 pb-16 sm:pb-20 md:pb-32">
      <button
        class="px-6 sm:px-8 md:px-10 py-2 mx-2 sm:py-3 bg-[#485C46]  text-white text-base sm:text-lg rounded-3xl shadow-md hover:bg-green-700 transition"
        routerLink="/register">
        Regístrate
      </button>
      <button
        class="px-6 sm:px-8 md:px-10 py-2 mx-2 sm:py-3 bg-[#485C46]  text-white text-base sm:text-lg rounded-3xl shadow-md hover:bg-green-700 transition"
        routerLink="">
        Contacto
      </button>
    </div>
  </div>
</div>

