<div class="min-h-screen flex items-center justify-center bg-[#e8dbc4] p-8">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
    <!-- Título -->
    <h2 class="text-2xl font-bold text-green-800 mb-6 text-center">
      Recuperar contraseña
    </h2>

    <!-- Formulario -->
    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
      <!-- Email -->
      <input type="email" formControlName="email" placeholder="Introduce tu email"
        class="w-full p-3 rounded bg-gray-200 focus:outline-none border"
        [ngClass]="{ 'border-red-500': email?.invalid && email?.touched }" />

      <div *ngIf="email?.invalid && email?.touched" class="text-red-500 text-xs mt-1">
        <span *ngIf="email?.errors?.['required']">El email es obligatorio.</span>
        <span *ngIf="email?.errors?.['email']">Introduce un email válido.</span>
      </div>

      <!-- Botón -->
      <button type="submit"
        class="w-full bg-green-800 text-white font-semibold py-3 rounded shadow-md hover:bg-green-700 transition">
        Enviar enlace de recuperación
      </button>
    </form>

    <!-- Volver al login -->
    <p class="mt-6 text-center text-sm text-gray-700">
      ¿Recuerdas tu contraseña?
      <a routerLink="/login" class="text-green-800 font-semibold hover:underline">Inicia sesión</a>
    </p>
  </div>
</div>
