<!-- Versión con imagen (solo visible en pantallas medianas en adelante) -->
<section

  class="edificio-avengers-background relative w-full h-screen bg-cover bg-center bg-no-repeat hidden md:flex items-center"

>
  <!-- Contenido principal -->
  <div
    class="relative z-10 bg-[#172A46] rounded-2xl shadow-lg max-w-2xl mx-6 p-8 md:p-10 text-gray-700"
  >
    <h2 class="text-3xl text-white font-bold mb-4">{{ title }}</h2>

    <p class="mb-4 text-white">{{ primaryText }}</p>
    <p class="mb-4 text-white">{{ secondaryText }}</p>
    <p class="mb-6 text-white">{{ extraText }}</p>
   
     <button class="btn-avengers">

  VER MISIONES

</button>
  </div>
   
  
</section>

<!-- Versión sin imagen (solo visible en móviles) -->
<section class="block md:hidden w-full bg-white p-6 shadow-lg text-gray-700">
  <h2 class="text-2xl font-bold mb-4">{{ title }}</h2>

  <p class="mb-4 text-white">{{ primaryText }}</p>
  <p class="mb-4 text-white">{{ secondaryText }}</p>
  <p class="mb-6 text-white">{{ extraText }}</p>

  <button class="btn-avengers">

  VER MISIONES

</button>
</section>
