@tailwind base;
@tailwind components;
@tailwind utilities;

.avengers-background {

  background-image: url('/avengers-bg.jpg');

}
.edificio-avengers-background {

  background-image: url('/edificio-avengers.jpg');

}
.thanos-background {

  background-image: url('/Thanos.jpg');

}
.doom-background {

  background-image: url('/Doom.jpg');

}
.ultron-background {

  background-image: url('/Ultron.jpg');

}
.avengers-background {

  background-image: url('/avengers.jpg');

}

.villains-background {

  background-image: url('/fondo-villanos.jpg');
 

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

}
.btn-shield {

  background-color: #243B6B;

  color: white;

  border: 2px solid #E3E8ED;

  font-weight: 600;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;

}

.btn-shield:hover {

  background-color: #B51F2E;

  border-color: #B51F2E;

  transform: scale(1.05);

}

/* Botón principal */

.btn-avengers {

  background-color: #B51F2E;

  color: white;

  border: 2px solid #B51F2E;

  font-weight: 600;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;

}

.btn-avengers:hover {

  background-color: #8F1824;

  border-color: #8F1824;

  transform: scale(1.05);

}

.btn-carousel {

  width: 2.5rem;

  height: 2.5rem;

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: #243B6B;

  color: white;

  border: 2px solid #E3E8ED;

  border-radius: 9999px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;

}

.btn-carousel:hover {

  background-color: #B51F2E;

  border-color: #B51F2E;

  transform: scale(1.1);

}

html {

  scroll-behavior: smooth;

}