<div class="w-full h-full rounded-3xl overflow-hidden shadow-2xl bg-cover bg-center flex flex-col items-center justify-center p-0 md:p-6 relative min-h-[180px] md:min-h-[220px] lg:min-h-[260px] xl:min-h-[300px] max-h-[340px] aspect-square" style="background-image: url('user-menu-assets/events.webp');">
	<div class="bg-white/40 w-full flex flex-col items-center py-8 px-2 md:px-6 rounded-3xl h-full">
		<img
			src="user-menu-assets/namasteicon.svg"
			alt="Icono Namasté"
			class="w-16 h-16 text-gray-600 mb-4"
		/>
		<div class="text-center mb-8">
			<h2 class="text-2xl font-bold text-[#000000]">Eventos y talleres</h2>
			<p class="text-[#000000] text-base mt-1">50 minutos de sesiones de pilates para ejercitar la musculatura con los mejores profesionales.</p>
		</div>
		<button
			class="mt-auto px-6 py-2 bg-[#485C46] text-white rounded shadow-lg hover:bg-green-800 text-base md:text-lg font-semibold min-w-[120px] max-w-[220px]"
		>
			Ver más
		</button>
	</div>
</div>
